.approved {
  padding: rem(154) 0px rem(195);

  background-color: #FAFAFA;

  @media (max-width:$tablet) {
    padding: rem(84) 0px rem(95);
  }

  @media (max-width:$mobile) {
    padding: rem(54) 0;
  }

  &__body {
    margin: 0px 0 0px rem(104);
    padding: 0px rem(30) 0px 0px;
    max-width: rem(500);

    @media (max-width:$mobile) {
      margin: 0 auto;
      padding: 0;
    }
  }

  /* .approved_block-text */
  &__block-text {
    &:not(:last-child) {
      margin: 0px 0px rem(22) 0px;
    }

    p {
      font-size: rem(16);
    }
  }

  /* .approved__icons */
  &__icons {
    display: flex;
    align-items: center;
    margin: 0px -15px;

    @media (max-width:$mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__icon {
    align-items: center;
    margin: 0px 15px;
  }
}