.page__callback {
  @media (max-width: em(1024)) {
    margin: 60px 0px 0px 0px;
  }
}

.callback {
  padding: 0px 0px 100px 0px;

  &__bg {
    background: url('@img/bg-callback.jpg') center no-repeat;
    height: 100%;
    min-height: rem(1036);
    margin-bottom: 60;

    @media (max-width: em(1024)) {
      min-height: rem(650);
    }
  }


  /* .callback__form */
  &__form {
    margin: rem(-625) auto 0;
    max-width: rem(600);
    padding: rem(31) rem(50);
    
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    
    text-align: center;
    
    @media (max-width:$mobile){
      padding: rem(30) rem(25);
    }
  }
}