.clients {
  padding: rem(83) 0 0;

  /* .clients__block-text */
  &__block-text {
    margin: 0px 0px rem(74) 0px;

    @media (max-width:$mobile) {
      margin: 0px 0px rem(50) 0px;
    }
  }

  /* .clients__box */
  &__box {
    padding: 0px rem(10);

    @media (max-width:$mobile) {
      padding: 0px;
    }
  }

  /* .clients__icons */
  &__icons {
    padding: rem(83) rem(10) rem(102);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: rem(101);
    justify-items: center;
    align-items: center;

    background-color: #FAFAFA;

    @media (max-width:$tablet) {
      row-gap: rem(50);
    }

    @media (max-width:$mobile) {
      padding: rem(55) 0;
    }
  }

  /* .clients__icon */

  &__icon {
    grid-column: 3 span;

    @media (max-width:$mobile) {
      grid-column: 4 span;

      &:nth-last-child(-n+2) {
        grid-column: 6 span;
      }
    }

    @media (max-width: em(600)) {
      grid-column: 6 span;
    }

    @media (max-width:$mobileSmall) {

      grid-column: 12 span;

      &:nth-last-child(-n+2) {
        grid-column: 12 span;
      }
    }

  }
}