.kickstart {
  padding: 150px 0px;

  /* .kickstart__block-text */
  &__block-text {
    margin: 0px 0px 75px 0px;
  }

  &__content {
    position: relative;
  }

  /* .kickstart__slider */
  &__slider {}

  /* .kickstart__swiper */
  &__swiper {
    position: relative;
  }

  /* .kickstart__slide */
  &__slide {

    /* .kickstart__slide_next */
    &_next,
    &_prev {
      position: absolute;
      transform: translate(0, -100%);
    }

    &_next {
      right: rem(-31);
    }

    /* .kickstart__slide_prev */
    &_prev {
      left: rem(-63);
    }
  }

  /* .kickstart__item */
  &__link {
    display: block;
    width: 200px;
    padding: 16px 0px;

    border: 2px solid #e8e8e8;
    border-radius: 30px;

    font-size: rem(15);
    line-height: math.div(30, 15);
    color: $blueColor;
    text-align: center;
  }
}