.resources {
  padding: rem(155) 0px 160px;

  @media (max-width: em(1023.98)) {
    padding: rem(105) 0px;
  }

  @media (max-width:$mobile) {
    padding: rem(60) 0px;
  }

  /* .resources__block-text */
  &__block-text {
    margin: 0px 0px rem(75) 0px;
    
    @media (max-width:$mobile){
      margin: 0px 0px rem(45) 0px;
    }
  }

  /* .resources__items */
  &__items {
    padding: 0px rem(10);
    gap: rem(20) rem(30);
    justify-items: center;
    align-items: center;

    @media (max-width: em(1023.98)) {
      padding: 0px;
      column-gap: rem(20);
    }
  }

  /* .resources__item */
  &__item {
    grid-column: 4 span;

    @media (max-width:$tablet) {
      grid-column: 6 span;

      &:last-child {
        grid-column: 12 span;
      }
    }

    @media (max-width:$mobile) {
      grid-column: 12 span;
    }
  }
}

.item-resources {
  padding: 10px;
  height: 100%;
  max-width: 360px;

  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);


  /* .item-resources__image */
  &__image {
    max-width: 100%;
  }

  /* .item-resources__content */
  &__content {
    padding: rem(50) rem(28) rem(35) rem(29);

    @media (max-width:$mobile) {
      padding: rem(20);
    }
  }

  /* .item-resources__title */
  &__title {
    &:not(:last-child) {
      margin: 0px 0px rem(20) 0px;
    }

    @include adaptiveValue("font-size", 24, 16);
    line-height: 158%;
  }

  /* .item-resources__text */
  &__text {
    font-size: rem(16);
    line-height: math.div(30, 16);
    color: $grayColor;
  }
}