// Заголовок спойлера
.spollers__title {
	width: 100%;
	position: relative;

	cursor: default;
	text-align: left;
	border-bottom: 1px solid #E8E8E8;

	._spoller-init & {
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			right: 1px;
			top: 35%;
			width: 30px;
			height: 30px;

			background: url('../../img/circle.svg') 0 0 no-repeat;

			transition: transform 0.5s ease 0s;
		}

		&._spoller-active {
			&::after {
				transform: rotate(225deg);
			}
		}
	}
}

// Контент спойлера
.spollers__body {
	padding: rem(20);
	border-bottom: 1px solid #E8E8E8;
}