// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;

	// .select__body
	&__body {
		position: relative;
	}

	// .select__title
	&__title {
		color: inherit;
		text-align: left;
		border: 1px solid #e8e8e8;
		background-color: #fff;
		cursor: pointer;
		height: rem(60);
		width: 100%;
		border-radius: 4px;

		font-size: rem(12);
		font-weight: 700;
		line-height: math.div(24, 12);
	}

	// .select__value
	&__value {
		display: flex;
		align-items: center;
		height: 30px;
		padding: 0px 15px;
		justify-content: space-between;
		flex-direction: row-reverse;

		&:before {
			content: "";
			// align-self: stretch;
			flex: 0 0 10px;
			transition: all 0.3s ease 0s;
			display: flex;
			width: 10px;
			height: 5px;
			background: url('@img/select-triangle.svg') 0 0 no-repeat;
			// background-color: #000;
			justify-content: center;
			align-items: center;

			._select-open & {
				transform: rotate(-180deg);
			}
		}
	}

	&__content {
		// color: #000;
	}

	// .select__text
	&__text {
		flex: 1 1 auto;
	}

	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}

	// .select__options
	&__options {
		color: #000;
		position: absolute;
		// top: calc(100% - 1px);
		top: 100%;
		border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border: 1px solid #e8e8e8;
		padding: 0 0px 5px 0px;
		border-top: 0;

		font-size: rem(12);
		font-weight: 700;
		line-height: math.div(24, 12);
	}

	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;

		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}

	// .select__option
	&__option {
		width: 100%;
		height: rem(60);
		display: block;
		text-align: left;
		cursor: pointer;
		padding: 18px 20px;
		color: inherit;

		@media (any-hover: hover) {
			&:hover {
				background-color: $blueColor;
				// background: #d9d9d9;
			}
		}
	}

	// Конструкция дополнительных данных
	&__row {
		display: inline-flex;
		align-items: center;
	}

	&__asset {}

	&__text {}

	// Состояния селекта
	&._select-open {
		z-index: 5;
	}

	&._select-disabled {}

	&._select-active {}

	&._select-focus {}

	&._select-multiple {}

	&._select-checkbox {}
}

// Тег
._select-tag {
	cursor: pointer;
}

._placeholder {
	color: $grayColor;
}