// Заголовки, общие БЄМ блоки и проче...

.block-text {

  &__title {
    font-size: rem(41);
    line-height: 104%;
    color: #000;

    @include adaptiveValue("font-size", 41, 36);

    &:not(:last-child) {
      margin: 0px 0px rem(40) 0px;
    }
    
    @media (max-width:$mobile){
      &:not(:last-child) {
        margin: 0px 0px rem(20) 0px;
      } 
    }

    &_white {
      color: #fff;
    }

  }

  &_center {
    text-align: center;
  }

  &__text {
    font-size: rem(12);
    line-height: 233%;
    color: $grayColor;

    &_mw {
      max-width: rem(700);
      margin: 0 auto;
    }
  }
}