.intro {
  padding: rem(240) 0px rem(270);
  background: url('@img/bg-header.jpg') center 0 no-repeat;
  background-color: #0D0D33;
  
  @media (max-width:$tablet){
    padding: rem(184) 0px rem(210);
  }
  @media (max-width:$mobile){
    padding: rem(120) 0px rem(160);
      
  }



  /* .intro__body */
  &__body {
    max-width: rem(430);

    color: #fff;
  }

  /* .intro__title */
  &__title {
    &:not(:last-child) {
      margin: 0px 0px rem(35) 0px;
    }

    font-size: rem(42);
    line-height: math.div(50, 42);
  }

  /* .intro__text */
  &__text {
    &:not(:last-child) {
      margin: 0px 0px rem(33) 0px;
    }

    font-size: rem(11);
    line-height: math.div(30 , 11);
  }
}